@model IEnumerable<Solution.Models.JoinModelCategory>
@{
    ViewBag.Title = "Category";
}
<!-- Kommetnar -->
<head>
    <link href="~/navbar.css" rel="stylesheet" />
</head>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Startsida</a>
</nav>
<br />
<br />
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.First().segment.URL"></iframe>
</div>
<br />

@using (Html.BeginForm("Assignment", "Home", FormMethod.Post))
{
    foreach (var item in Model)
    {
        <button class="btn btn-block btn-lg btn-primary" name="category" value="@item.categories.ID">@item.categories.Name</button>
    }
}