
@{
    ViewBag.Title = "Error";
}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="~/Content/img/VUXLogo.png" alt="Company logo" width="80" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("Index", "Home")">Startsida</a>
            </li>
        </ul>
    </div>
</nav>
<br />
<br />
<h2>Oops...</h2>
<h4>Något gick fel, gå tillbaka och försök igen</h4>
<input type="button" value="Startsida" class="btn btn-block btn-lg btn-danger" onclick="location.href='@Url.Action("Index", "Home")'" />