@model IEnumerable<Solution.Models.Segment>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Category", "Home", FormMethod.Post))
{
    foreach (var item in Model)
    {
        <button class="btn btn-block btn-lg btn-primary" name="segment" value="@item.ID">@item.Name</button>
    }
}



