
@{
    ViewBag.Title = "newCategory";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        hr.style1 {
            border-top: 1px solid #8c8b8b;
        }
    </style>

</head>
<body>
<h2>Create new Category</h2>



<form>
    <div class="form-group">
        <label for="categoryName">Namn på kategori:</label>
        <input type="text" class="form-control" id="categoryName">
    </div>

</form>

<!--Todo: Lägg till en dropdown för att välja segment-->
    <!---->

<h2>Kategorier som finns:</h2>
<br>
<hr class="style1">
<br>

<h4>Kategori 1</h4>
<h4>Kategori 2</h4>
<h4>Kategori 3</h4>
<h4>Kategori 4</h4>
<h4>Kategori 5</h4>
</body>
</html>


