
@{
    ViewBag.Title = "newSegment";
}

<h2>Create new Segment</h2>

<div class="container">

    <form>
        <div class="form-group">
            <label for="usr">Namn på segment:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <span>Select File:</span>
                <input type="file" name="postedFile" />
                <hr />
                <input type="submit" value="Upload" />
                <br />
                <span style="color:green">@ViewBag.Message</span>
            }
        </div>
        <!--https://www.aspsnippets.com/Articles/Simple-File-Upload-example-in-ASPNet-MVC-Razor.aspx-->
    </form>
</div>




