
@{
    Layout = null;
}


@model Solution.Models.Segment


@using (Html.BeginForm())
{
    <br /><br /><br />
    <div style='width: 150px; margin: 0 auto;'>
        <article id='art'>
            Vad vill du lägga till?<br /><br />
            Segmentnamn: @Html.EditorFor(model => model.Name)<br /><br />
            Videolänk: @Html.EditorFor(model => model.URL)<br /><br />
            <input type="submit" value="Lägg till" />
        </article>
    </div>
}


